body {
	background: #abdc28;
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}
td {
    width: 40px; height: 40px;
}

td{
    text-align: center;
}

td.black{
    background: sienna;
}

td.white{
    background: peachpuff;
}